@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", system-ui, sans-serif;
  background-color: #f9fafb;
  color: #1f2937;
}

a {
  color: #2563eb;
  text-decoration: none;
}

a:hover {
  filter: brightness(80%);
}
